html 
 head 
  title geiser
  link(rel="stylesheet", href="/stylesheets/style.css")
 body 
  div.tete 
   include ./navision.pug 
  div.titre 
   h1 bienvenue  
  div.home 
   img.geiser(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuuDipVPUzVzU5LnwHXzwB8y2vpaWEpBNW9tjWv8QZyWG8zHGqOwFWw1H4-hC1pxBB3Yo&usqp=CAU.png", alt="")
 