html 
 head 
  title geiser
  link(rel="stylesheet", href="/stylesheets/style.css")
 body 
  div.tete 
   include ./navision.pug 
  div.service 
   h1  Nos services :  
  div 
   div.card 
    h2   * distribution des materiels informatique et des produit de microsoft et hp 
    h2  * integration des solutions de securite et de surete 
    h2   * Hébergemet et visualisation des services 
   
 
   
  


   